body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #66c2a5;
	color: #fff;
	padding: 20px;
}

header h1 {
	margin: 0;
	font-size: 36px;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	display: inline-block;
	margin-left: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 40px;
}

section h2 {
	font-size: 24px;
}

section p {
	font-size: 16px;
	line-height: 1.5;
}

a {
	color: #66c2a5;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	background-color: #ccc;
	padding: 20px;
	text-align: center;
}

footer p {
	margin: 0;
	font-size: 14px;
}